<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<form [formGroup]="credentials" (ngSubmit)="login()">

  <ion-item fill="outline" class="ion-margin-bottom">
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" formControlName="email"></ion-input>
    <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">Email is invalid</ion-note>
  </ion-item>

  <ion-item fill="outline" class="ion-margin-bottom">
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" formControlName="password"></ion-input>
    <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">Password need to be at least 6 characters</ion-note>
  </ion-item>

  <ion-button class="ion-margin-bottom" expand="full" [disabled]="!credentials.valid" type="submit">Login</ion-button>
  <ion-button expand="full" type="button" (click)="register()">Create account</ion-button>
</form>


</ion-content>
